
<form (ngSubmit)="find()">
    From : <select name="src" [(ngModel)]="src" required>
        <option *ngFor="let s of source" [value]="s">{{s}}</option>
    </select>

    To : <select name="destiny" [(ngModel)]="destiny" required>
        <option *ngFor="let d of destination" [value]="d">{{d}}</option>
    </select>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit">Find Bus</button>
</form>
<hr>
<table class="table table-borderless">
    <tr>
        <th>Code</th><th>Carrier</th><th>Source</th><th>Destination</th><th>Availability</th><th>Book</th>
       
    </tr>
    
    <tr *ngFor="let b of buses">
        <td>{{b.busNumber}}</td>
        <td>{{b.travels}}</td>
        <td>{{b.source}}</td>
        <td>{{b.destiny}}</td>
        <td>{{b.seatsCount}}</td>
        <td><button type="button" class="btn btn-success" (click)="book(b.busNumber,b.seatsCount)">Book</button></td>
        <td></td>
    </tr>
</table>

<h1>{{msg}}</h1>
